@assets: "http://dazx2ug0v9sfb.cloudfront.net";

@import "bootstrap/bootstrap";
@font-face{
  font-family: SpaceRanger;
  src: url('../fonts/spacerangerbold.ttf');
}

html{
  padding:0;
  margin:0;
  overflow: hidden;
  text-align: center;
  background: url('@{assets}/space.svg') 100% #000;
  color: #ffffff;
  font-family: 'Helvetica';

  .btn{
    border-radius: 3px;
    font-weight: bold;
    color: #ffffff;
    #gradient > .vertical(#357DC9,#2365AF);
    border: 1px solid #357DC9;
    padding: 9px 20px;
    font-size: 16px;

    &:active{
      #gradient > .vertical(#2365AF,#357DC9);
      border-color:  #2365AF;
      padding-top: 10px;
      padding-bottom: 8px;
    }

    &:hover{
      color: #eaeaea;
    }

    &:focus{
      color: inherit;
      outline: none;
    }
  }

  #background{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
  }

  #game{
    position: fixed;
    left: 0;
    top: 0;
    cursor: crosshair;
    z-index: 1;
  }

  #modal{
    z-index:2;
    overflow: hidden;
    display: none;

    .modal-dialog{
      margin-top: 120px;
      font-size: 18px;
      line-height: 24px;

      .modal-content{
        background-color: rgba(24,98,135,0.6);
        border: 2px solid #ffffff;
        bac: 0.7;

        .modal-header{

          border-bottom: 1px #eaeaea double;
          .modal-title{
            font-size: 25px;
            font-weight: bold;
            text-shadow: 1px 1px 1px #000;

          }
        }

        .modal-footer{
          border: none;
        }
      }
    }

    #welcome-modal{

      #username-input{
        font-family: 'SpaceRanger';
        font-size: 30px;
        letter-spacing: 4px;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000;
        background: none;
        border: none;
        outline: none;
        width: 100%;
        text-align: center;

      }

    }

    #death-modal{

        line-height: 28px;
        font-size: 20px;

        .row{

            margin-bottom: 10px;

            &#username{
              font-size: 25px;
              font-weight: bold;
              margin-bottom: 20px;
            }

            &:last-child{
              margin-bottom: 0;
            }

            .label{
              width: 80px;
              text-align: right;
              font-size: 23px;
              text-align: left;
              padding-left: 30px;
              background: url('@{assets}/target.png') transparent no-repeat left center;
              margin-right: 20px;
              display: inline-block;
              vertical-align: middle;
            }

            .value{
              display: inline-block;
              vertical-align: middle;
              text-align: left;
              width: 80px;

              .total{
                display: inline-block;
                vertical-align: middle;
                font-size: 26px;
                font-weight: bold;
                margin-right: 8px;
              }

              .round{
                letter-spacing: 3px;
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
                font-size: 25px;
                text-shadow: 1px 1px 1px #000000;

                &#round-kills{
                  color: lime;
                }

                &#round-deaths{
                  color: red;
                }
              }
            }



            &.death{
              .label{
                background-image:url('@{assets}/skull.png');
              }
            }
        }



    }

  }

  #connecting {
    font-family: "SpaceRanger";
    position: fixed;
    bottom: 20px;
    left: 15px;
    z-index: 3;
    font-weight: bold;
    padding-right: 21px;
    background-image: url('@{assets}/loader.gif');
    background-position: right center;
    background-repeat: no-repeat;
  }

  #icons{

    position: fixed;
    top: 20px;
    right: 15px;
    text-align: right;
    z-index: 3;
    opacity: 0.7;

    > *{
      display: inline-block;
      margin-left: 12px;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: 32px;
      cursor: pointer;
    }

  }

  #sound{
    background-image: url('@{assets}/sound.png');

    &.active{
      background-image: url('@{assets}/mute.png');
    }
  }

  #full-screen{
    background-image: url('@{assets}/fullscreen.png');
  }

  &:-webkit-full-screen #full-screen{
    background-image: url('@{assets}/exit-fullscreen.png');
  }

  &:-moz-full-screen #full-screen{
    background-image: url('@{assets}/exit-fullscreen.png');
  }

  &:-ms-fullscreen {
    background-image: url('@{assets}/exit-fullscreen.png');
  }

  &:full-screen #full-screen{
    background-image: url('@{assets}/exit-fullscreen.png');
  }

}











