doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    title Space Wars 3014
    link(rel='stylesheet', href='/css/style.css?v=#{version}')
  body
    canvas#game
    #icons
      #view(title='Toggle Camera Mode (z)')
      #about(title='About (a)')
      #sound(title='Toggle Sound (s)')
      #full-screen(title='Toggle Full Screen (f)')
    #connecting Connecting
    #version Alpha #{version}
    #modal.modal
    script(data-main='#{mainPath}', src='/js/require.js')