<div id="about-modal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">About Space Wars 3014</h3>
            <div id="close-button" title="close">x</div>
        </div>
        <div class="modal-body">
            <p>
                Space Wars 3014 is a browser based MMO (massively multiplayer online game)
                with a universe that expands and contracts depending on the number of players connected.
            </p>

            <p>
                This is a very early alpha build, and as such, expect features to be continually added, removed and tweaked.
                Also I can make no guarantee of the game's stability or even the server being up from day to day.
            </p>
            <p>
                I am still deciding the direction in which I want to take Space Wars and remain excited by all the possibilities.
                If you have any questions or feedback on the game or the technology behind it, please feel free to contact me:
                <a href="mailto:james.lynn@aristobotgames.com?Subject=Space%20Wars%202013">james.lynn@aristobotgames.com</a>
            <p>

        </div>

        <div class="modal-footer">
            <div id="how-to-play"></div>
        </div>



    </div>
</div>
