<div  id="death-modal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="death-title" class="modal-title">You Died</h3>
        </div>
        <div class="modal-body">

            <div id="round" class="row">
                <div class="label">Round Kills</div>
                <div class="value">
                    <span id="round-kills" class="kills"></span>
                </div>
            </div>

            <div id="best" class="row">
                <div class="label">Best Round</div>
                <div class="value">
                    <span id="best-kills" class="kills"></span>
                </div>
            </div>

            <div id="new-best" class="row">
                <div class="label">New Personal Best!</div>
            </div>

            <div id="career" class="row">
                <div class="label">Career</div>
                <div class="value">
                    <span id="career-kills" class="kills"></span>
                    <span id="career-deaths" class="deaths"></span>
                </div>
            </div>

            <div class="row death">


            </div>
        </div>
        <div class="modal-footer">
            <div id="tip"></div>
            <button id="deploy-button" class="btn btn-lg">Redeploy</button>
        </div>
    </div>
</div>
