<div id="about" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div id="close-button" title="close">x</div>
        </div>
        <div class="modal-body">
            <div id="how-to-play"></div>

            <div id="keymap">
                <span class="key"><strong>Z</strong> - Toggle Camera Lock</span>
                <span class="key"><strong>C</strong> - Center Camera</span>
                <span class="key"><strong>R</strong> - Reload</span>
                <span class="key"><strong>S</strong> - Toggle Sound</span>
                <span class="key"><strong>F</strong> - Toggle Fullscreen</span>
            </div>

        </div>

    </div>
</div>
