<div id="leaderboard" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Top Scores</h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                {{#each leaderboard}}
                <div class="row">
                    <div class="user col-xs-9">
                        <img class="icon" src="{{icon}}"/>
                        <span class="name">{{name}}</span>
                    </div>
                    <div class="score col-xs-3">
                        <span>{{highScore}}</span>
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
        <div class="modal-footer">
            <button id="deploy-button" class="btn btn-lg">Redeploy</button>
        </div>

    </div>
</div>
