doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    title Space Wars 3014
    link(rel='stylesheet', href='/css/style.css?v=#{version}')
  body
    #version Alpha #{version}
    #modal.modal
        #login-modal.modal-dialog

            .modal-content
                .modal-header
                   h3.modal-title Hyper Galatic
                .modal-body
                  a(class='btn btn-social btn-facebook',href='/auth/facebook')
                    i.icon
                    | Sign in with Facebook
                  a(class='btn btn-social btn-google',href='/auth/google')
                    i.icon
                    | Sign in with Google Plus

    script.
        var modalDialog = document.getElementsByClassName('modal-dialog')[0];
        var padding = Math.max((window.innerHeight - modalDialog.children[0].offsetHeight)/2, 0);
        modalDialog.setAttribute("style", "margin-top:"+padding+"px");
