doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    title Unsupported Device
    link(rel='stylesheet', href='/css/style.css?v=#{version}')
  body
    #version v.#{version}
    #modal.modal
        #login-modal.modal-dialog

            .modal-content
                .modal-header
                   h3.modal-title Unsupported Device
                .modal-body
                | Hyper Galactic does not currently support touch screen devices.

    script.
        var modalDialog = document.getElementsByClassName('modal-dialog')[0];
        var padding = Math.max((window.innerHeight - modalDialog.children[0].offsetHeight)/2, 0);
        modalDialog.setAttribute("style", "margin-top:"+padding+"px");
