<div  id="death" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            {{#if slayer}}
                <img class="icon" src="{{slayer.icon}}"/>
                <h3 class="modal-title">Slain By {{slayer.name}}</h3>
            {{else}}
                 <h3 class="modal-title">You have been slain</h3>
            {{/if}}
        </div>
        <div class="modal-footer">
            {{#if tip}}
                <span id="pro-tip"><strong>Pro Tip:</strong> {{tip}}</span>
            {{/if}}
        </div>

    </div>
</div>
